 @media only screen and (min-width:1100px) and (max-width:1400px) {
     .header {
         height: 130vh;
     }

     .navbar h1 {
         margin: 50px 30px 0px;
         font-size: 15px;
     }

     ion-icon[name="menu-outline"] {
         top: 50px;
         font-size: 30px;
     }
     .buildweb{
        height: 108vh;
     }
     .creative{
        padding-top: 50px;
     }

     .HomepageGrids {
         margin-top: -10%;
     }
    

     .grid {
         width: 20%;
     }

     .grid p {
         font-size: 20px;
     }

     .buildweb {
         margin-top: 250px;
     }

     .part1 img {
         height: 109vh;
     }

     .box-wrapgrid {
         overflow: hidden;
     }

     .box-wrapgrid img {
         object-position: -120px;
         filter: grayscale(100%);
     }
     .featuresImg img{
        margin-top: 40px;
     }
     .design{ 
        height: 100vh;
     }
     .qualites{
        margin-top:90px;
     }
     .digital h4{
        font-size: 15px;
     }
     .digital h1{
        font-size: 20px;
     }
     .qualitesDec p{
        font-size: 15px;
     }
     .qualitesDec h3{
        font-size: 15px;
     }

     .qualitesDec {
         width: 35%;
     }

     /* .contact {
         margin-top: -115px;
     } */

     .products {
         border: 2px solid gray;
        margin-top: -230px;
        width: 1100px;
        height:400px
     }
     .products h1{
        font-size: 50px;
     }
     .animations-image img{
        height: 250px;
     }
     .contact{
        margin-top: -280px;
     }
     /* .us p{
        font-size: 20px;
 } */
 .f1 p{
     font-size: 15px;
 }
 .f1 h1{
    font-size: 20px;
 }
}